<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      🐍 {{ site.title | default: site.github.repository_name }}
    </a>

    {%- if page_paths -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path fill="#424242" d="m18,1.484c0,0.82-0.665,1.484-1.484,1.484h-15.032c-0.819,0-1.484-0.665-1.484-1.484s0.665-1.484,1.484-1.484h15.032c0.819,0,1.484,0.665,1.484,1.484zm0,5.16c0,0.82-0.665,1.484-1.484,1.484h-15.032c-0.819,0-1.484-0.665-1.484-1.484s0.665-1.484,1.484-1.484h15.032c0.819,0,1.484,0.665,1.484,1.484zm0,5.16c0,0.82-0.665,1.484-1.484,1.484h-15.032c-0.819,0-1.484-0.665-1.484-1.484s0.665-1.484,1.484-1.484h15.032c0.819,0,1.484,0.665,1.484,1.484z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          <a class="page-link" href="{{ '/Coding_Principles/' | relative_url }}">🧠 Principles</a>
          <a class="page-link" href="{{ '/Lecture_Notes/' | relative_url }}">📚 Lectures</a>
          <a class="page-link" href="{{ '/Coding/' | relative_url }}">💻 Practice</a>
          <a class="page-link" href="{{ '/Assignments/' | relative_url }}">📝 Assignments</a>
          <a class="page-link" href="https://github.com/stawiskm/pythoncourse" target="_blank">📁 Repository</a>
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>